:root {
  --primary-color: #4d45b5;
  --secondary-color: #382af2;
  --tertiary-color: #7704c0;
  --extra-color: #08071d;
  --heading-color: #444;
  --text-color: #999;
  --sidebar-color: #212129;
  --table-bg-color: #262525;
  --highlight-color: #d13267;
  --bg-color: #f4f4f4;
}

.btn-submit {
  background: #fff;
  width: 30%;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 1em;
  border: 1px solid var(--primary-color);
}
.btn-submit:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.post-form {
  max-width: 50%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: rgb(232, 230, 230);
}

.emojis {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.posts {
  width: 50%;
  margin: 2rem auto;
  height: 50vh;
  overflow-y: scroll;
}

/* post list */
.posts h4 {
  color: var(--heading-color);
}
.post {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-top: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.post-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}
.post-author .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.post-date {
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 5px;
}
.date,
.name,
.content {
  margin: 0;
}

.content {
  color: black;
}
.post-content {
  color: var(--text-color);
  font-size: 0.9em;
}
.date {
  color: var(--text-color);
}
.posted-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin-bottom: 1rem;
}
ul {
  list-style-type: none;
  margin: 0 !important;
}
